@import "../../styles/variables.scss";
@import "../../styles/responsives.scss";

.menu{
    .item{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }
    .title{
        font-size: 12px;
        font-weight: 200;
        color: $soft-color;
        
        @include lg{
            display: none;
        }
    }
    .listItem{
        display: flex;
        align-items: center;
        gap:10px;
        padding: 10px;

        &:hover{
            background-color: $soft-bg;
        }

        .listItemTitle{
            @include lg{
                display: none;
            }
        }
        }
}